# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
.vercel

# Temp/Scratch
scratch/
*.log
temp/

# User uploads
backend/uploads/

# Sensitive Keys
backend/*.json
.env
