venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/

# Frontend (ya tiene el suyo, pero por las dudas)
node_modules/
dist/
build/
.env.local

# Bases de datos y archivos que quizá no quieras trackear
# backend/data/entrenador.db (Lo mantengo comentado por si querés que la base de arranque con los 800 ejercicios vaya a GitHub)
# backend/config.json
